.g-hd-1{
	font-weight: bold;
	font-size: 16px;
	color: #323232;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}
.g-hd-2{
	font-weight: bold;
	font-size: 14px;
	color: #323232;
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
	margin-bottom: 6px;	
}
.g-hd-3{
	font-size: 14px;
	color: #323232;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;	
}
/**g-search-box***/
.g-search-box{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	height: 36px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.g-search-input{
	flex: 1;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
}
.g-search-btn{
	width: 40px;
	justify-content: center;
	align-items: center;
	
}
.g-search-btn:before{
	font-family: iconfont;
	color: #646464;
	font-size: 18px;
}
/**g-order***/
.g-order{
	margin: 0 5px;
}
.g-order:before{
	font-family: iconfont;
	content: "\e79c";
	line-height: 1;
	color: #ddd;
}
.g-order:after{
	font-family: iconfont;
	content: "\e79b";
	line-height: 1;
	margin-top: -7px;
	color: #ddd;
}
.g-order-up:before,.g-order-down:after,.g-order-active{
	color: #f60;
}