/****tabs-border***/
.tabs-border{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #eee;
	line-height: 36px;
	padding: 0px 5px;
	background-color: #fff;
 
}
.tabs-border-item{
	flex: 1;
	text-align: center;
}
.tabs-border-item-inner{
	padding: 0px 20px;
}
.tabs-border-active{
	border-bottom: 1px solid #f60;
}
.tabs-border-box{
	display: none;
	background-color: #fff;
	padding: 10px;
}
.tabs-border-box-active{
	display: flex;
}
/*****竖排 tabs-toggle******/
.tabs-toggle{
	background-color: #fff;
	 
	padding:0px 5px;
}
.tabs-toggle-hd{
	line-height: 36px;
	flex: 1;
	flex-direction: row;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}
.tabs-toggle-hd:after{
	font-family: iconfont;
	content: "\e661";
	color: #646464;
	font-size: 14px;
	position: absolute;
	right: 1px;
}
.tabs-toggle-hd-active{
	margin-bottom: 5px;
	border-bottom: 1px solid #fafafa;
}
.tabs-toggle-hd-active:after{
	content: "\e6de";
}
.tabs-toggle-box{
	display: none;
	padding-bottom: 10px;
}
.tabs-toggle-active{
	display: block;
	border-bottom: 1px solid #eee;
}
/****tab-select*****/

.tab-select-section {
	display: block;
	position: relative;
}

.tab-select {
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	color: #0088CC;
	display: flex;
	flex-direction: row;
}



.tab-select-item {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 15px 0px;
	font-size: 14px;
	cursor: pointer;
}

.tab-select-label {
	flex-direction: row;
	position: relative;
	margin-right: 3px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #646464;
}

.tab-select-t3up {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #323232;
	margin-left: 5px;
	margin-top: 3px;
}

.tab-select-t3down {
	width: 0;
	height: 0;
	display: inline-block;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #323232;
	margin-left: 5px;
	margin-top: 3px;
	
}

.tab-select-b {
	width: 1px;
	height: 16px;
	background: #ccc;
	margin-right: 5px;
	margin-left: 5px;
}



/***.tab-select-box**/

.tab-select-box {
	display: none;
	border: 1px solid #ccc;
	border-left: 0px;
	border-right: 0px;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	padding: 5px;
	background-color: #fff;
	z-index: 999;
}
.tab-select-catbox{
	flex-direction: row;
}
.tab-select-box-item {
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 0.9em;
	padding-left: 3px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

.tab-select-box1 {
	width: 100px;
	background-color: #f9f9f9;
 
	float: left;
}

.tab-select-box2 {
	flex: 1;
	padding: 0px 10px;
	background-color: #fff;
	float: left;
}

.tab-select-box-pd {
	padding: 0px 10px;
}

.tab-select-box1item {
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	padding-left: 3px;
	cursor: pointer;
}

.tab-select-box1item-active {
	color: #1AB9AC;
}

.tab-select-box2item {
	height: 40px;
	display: none;
	line-height: 40px;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.tab-select-box2item-active {
	color: #239EF7;
}

.tab-select-show {
	display: block;
}