 /****header****/
 .header-row,.header-row-show{
	 height: 44px;
	 clear: both;
 }
 .header,.header-show{
	 position: fixed;
	 top:0;
	 left:0;
	 right: 0;
	 display: flex;
	 flex-direction: row;
	 background-color: #f7f7f7;
	 padding-top: 7px;
	 padding-bottom: 7px;
	 align-items: center;
	 z-index: 998;
	 box-shadow: 0 1px 6px #ccc;
	 height: 44px;
	 box-sizing: border-box;
 }
 
 .header-logo{
	 width:30px;
	 height: 30px;
	 margin-right: 5px;
	 margin-left: 5px;
 }
 .header-search-box{
	 display: flex;
	 flex-direction: row;
	 position: relative;
	 flex: 1;
 }
 .header-search-icon{
	 display: flex;
	 flex-direction: row;
	 align-items: center; 
	 font-family: iconfont;
	 position: absolute;
	 left:5px;
	 top: 0px;
	 bottom: 0;
	 width: 20px;
	 color: #646464;
	 font-size: 14px;
 }
 .header-search{
	 box-sizing: border-box;
	 flex: 1;
	 height: 34px;
	 line-height: 34px;
	 border: 1px solid #ddd !important;
	 
	 border-bottom-left-radius: 5px;
	 border-top-left-radius: 5px;
	 border-bottom-right-radius: 0;
	 border-top-right-radius: 0;
	 padding-left: 26px;
	 font-size: 14px;
	 color: #646464;
	 background-color: #fafafa;
 }
 .header-search-btn{
	height: 34px;
	line-height: 34px; 
	margin-right: 2px;
	border:0;
	border-radius: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px 12px; 
	background-color: #e0e0e0;
    color: #666;
	font-size: 14px;
	display: flex;
	flex-direction:row;
	align-items:center;
	cursor: pointer;
 }
 .header-back{
	 margin-right: 5px;
	 cursor: pointer;
	 position: absolute;
 }
 .header-back:after{
	 font-family: "iconfont" !important;
	 content: "\e679";
	 width: 30px;
	 height: 30px;
		line-height: 30px;
		justify-content: center;
		color: #646464;
		display: inline-flex;
		font-size: 20px;
 }
 .header-back-fixed{
 	position: fixed;
 	left: 0px;
 	top: 5px;	 
 	width: 40px;
 	height: 40px;
 	border-radius: 50%;
 	line-height: 40px;
 	color: #646464;
 	font-size: 20px;
 	text-align: center;
	cursor: pointer;
 }
 .header-back-fixed:after{
 	font-family: "iconfont" !important;
 	content: "\e679";
 }
 .header-title{
	 color: #333;
	 font-size: 16px;
	 text-align: center;
	 flex: 1;
	 line-height: 30px;
	 height: 30px;
	 overflow: hidden;
	 padding:0px 30px;
 }
 .header-right{
 	margin-right: 5px;
 	color: #646464;
 	line-height: 30px;
 }
.header-right-btn{
	margin-right: 5px;
	color: #969696;
	line-height: 26px;
	padding: 0px 10px;
	border:1px solid #969696;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
    right: 5px;
}

.header-fixtop{
	position: fixed;
	top:0px;
	left:0px;
	right: 0;
	display: flex;
	flex-direction: row; 
	z-index: 9990;
 }
 .header-fixtop-right{
 	position: fixed;
 	top:0px;
 	right: 0;
 	display: flex;
 	flex-direction: row; 
 	z-index: 9990;
  }
 .header-fixtop-icon:before{
	 font-family: iconfont;
	 color: #fff;
	 font-size: 18px;
	 margin-right: 10px;
	 height: 44px;
	 line-height: 44px;
 }
 
/****main-body*****/
.main-body{
	
}
 /******footer*******/
 .footer-row{
	height: 50px;
 }
.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-color: #fafafa;
	border-top: 1px solid #eee;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-item {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	flex: 1; 
	text-decoration: none;
	color: #929292;
	padding: 7px 0px;
	line-height: 1.4;
	height: 50px;
    box-sizing: border-box;
}
.footer-item:before{
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #929292;
	line-height: 1;
	margin-bottom: 1px;
}
.footer-item-num {
	color: #929292;
	position: absolute;
	right: 3px;
	top: 4px;
	border-radius: 50%;
	border: 1px solid #eee;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
}
 
 
.footer-add:after {
	font-family: iconfont;
	content: "\e6da";
	font-size: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
		line-height: 36px;
    top: -16px;
    left: 50%;
    margin-left: -18px;
    z-index: 99;
	background-color: #d3d3d3;
	color: #666;
	border-radius: 50%;
}
.footer-add:before{
	content: "a";
	visibility: hidden;
}
.footer-active,.footer-active:before{
	color: #007bff;
}

.footerBox{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-color: #fafafa;
	border-top: 1px solid #eee;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
 .footerFix{
 	position: fixed;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 	z-index: 100;
 } 

.back-top{
	position: fixed;
	right: 10px;
	bottom:100px;
	background-color: #009688;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.back-top-icon{
	font-family: iconfont;
	line-height: 1;
}
.back-top-icon:after{
	content:"\e603";
	font-size: 12px;
	color: #fff;
}
.back-top-text{
	font-size: 12px;
	line-height: 1;
	font-weight: 300;
	color: #fff;
} 