/***单行列表***/
.row-item,.row-item-text{
	display: flex;
	flex-direction: row;
	
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	align-items: center;
	color: #646464;
	cursor: pointer;
	font-size: 14px;
}
.row-item-icon{
	margin-right: 3px;
	font-family: iconfont;
	font-style: normal;
	color: #646464;
}
.row-item:after{
	display: inline-flex;
	font-family: iconfont;
	content: "\e6a3";
	color: #999;
	 
}
.row-item-text{
	cursor:initial;
}
.row-item-active{
	font-weight: bolder;
}
/**flexlist 单列列表**/
.flexlist{
	
}
.flexlist-item{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #fff;
}
 
.flexlist-img{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.flexlist-title{
	font-size: 16px;
	color: #323232;
	margin-bottom: 5px;
}
.flexlist-ks{
	margin-top: -3px;
	color: #f60;
	font-size: 12px;
	margin-bottom: 3px;
}
.flexlist-desc{
	font-size: 12px;
	color: #969696;
	margin-bottom: 5px;
}
.flexlist-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #646464;
	font-size: 14px;
	margin-bottom: 5px;
}
/***mtlist  多列 布局****/
.mtlist{
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px 0px 5px 5px;
}
.mtlist-item{
	width: 50%;
	padding-right: 5px;
	margin-bottom: 10px;	 			
}
.mtlist-item-bd{
	background-color: #fff;
	padding-bottom: 5px;
	height: 100%;
}
.mtlist-item-pd{
	padding: 0px 5px;
}
.
.mtlist-imgbox{
	width: 100%;
}
.mtlist-img{
	max-width: 100%;
}
.mtlist-item-money{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 5px;
	padding-top: 5px;
}
.mtlist-item-money-flex{
	flex: 1;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	color: #ed6d53;
	align-items: flex-end;
}
.mtlist-item-money_money{
	font-size: 20px;
	line-height: 1;
}
.mtlist-item-money_num{
	color: #646464;
	font-size: 14px;
}
.mtlist-title{
	font-size: 16px;
	color: #323232;
	margin-bottom: 5px;
}
.mtlist-desc{
	color: #646464;
}
/***sglist****/
.sglist{}
.sglist-item{
	padding: 5px;
	background-color: #fff;
	margin-bottom: 5px;
}
.sglist-imgbox{
	
}
.sglist-img{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 5px;
}
.sglist-title{
	color: #323232;
	margin-bottom: 5px;
	font-size: 16px;
}
.sglist-imglist{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}
.sglist-imglist-img{
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.sglist-desc{
	color: #646464;
	font-size: 14px;
	margin-bottom: 5px;
}
.sglist-user{
	flex:1;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #646464;
}
.sglist-nick{
	color: #323232;
	font-size: 16px;
}
.sglist-uhead{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 5px;
}
/**flex-table**/
.flex-table{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #eee;
	padding-top: 8px;
	padding-bottom: 8px;	
}
.flex-table-label {
    margin-right: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    min-width: 60px;
    text-align: right;
}
.flex-table-box {
    flex: 1;
	padding-top: 2px;
    font-size: 14px;
    color: #666;
}