.swiper {
	width: 100%;
	overflow-x: auto;
}

swiper {
	height: 200px;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	width: 300%;
}

swiper-item {
	width: 100%;
	height: 200px;
	display: flex;
}



/****tab-select*****/

.tab-select-section {
	display: block;
	position: relative;
}

.tab-select {
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	color: #0088CC;
	display: flex;
	flex-direction: row;
}



.tab-select-item {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 15px 0px;
	font-size: 14px;
	cursor: pointer;
}

.tab-select-label {
	 
	flex: 1;
	flex-direction: row;
	position: relative;
	margin-right: 3px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #646464;
}

.tab-select-t3up {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #323232;
	margin-left: 5px;
	margin-top: 3px;
}

.tab-select-t3down {
	width: 0;
	height: 0;
	display: inline-block;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #323232;
	margin-left: 5px;
	margin-top: 3px;
	
}

.tab-select-b {
	width: 1px;
	height: 16px;
	background: #ccc;
	margin-right: 5px;
	margin-left: 5px;
}



/***.tab-select-box**/

.tab-select-box {
	display: none;
	border: 1px solid #ccc;
	border-left: 0px;
	border-right: 0px;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	padding: 5px;
	background-color: #fff;
	z-index: 999;
}
.tab-select-catbox{
	flex-direction: row;
}
.tab-select-box-item {
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 0.9em;
	padding-left: 3px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

.tab-select-box1 {
	width: 100px;
	background-color: #f9f9f9;
 
	float: left;
}

.tab-select-box2 {
	flex: 1;
	padding: 0px 10px;
	background-color: #fff;
	float: left;
}

.tab-select-box-pd {
	padding: 0px 10px;
}

.tab-select-box1item {
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	padding-left: 3px;
	cursor: pointer;
}

.tab-select-box1item-active {
	color: #1AB9AC;
}

.tab-select-box2item {
	height: 40px;
	display: none;
	line-height: 40px;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.tab-select-box2item-active {
	color: #239EF7;
}

.tab-select-show {
	display: block;
}

.raty{
	background: url(../img/star.png);
	height: 16px;
    width: 80px;
    background-size: 16px 16px;
	margin-left: 5px;
}
.raty-after{
	background: url(../img/star_fill.png);
	height: 16px;
    width: 90%;
    background-size: 16px 16px;
}