
.m-navPic{
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding: 10px 0px 0px 0px;
	flex-wrap: wrap;
}
.m-navPic-item{
	width: 25%;
	padding: 0px 10px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;	
}

.m-navPic-img{
	width: 60px;
	height: 60px;
	margin-bottom: 5px;
	line-height: 1;
}
.m-navPic-icon{
	font-family: iconfont;	
	margin-bottom: 5px;
}
.m-navPic-icon:before{
	font-size: 30px;
	color: #ed6d53;
}
.m-navPic-title{
	font-size: 14px;
	color: #323232;
}