/***grouplist****/
.grouplist{
 padding-top: 5px;
}
.grouplist:after{
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	display: block;
}
.grouplist-item{
	background-color: #fff; 	 
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 11px;
	margin-bottom: 11px; 
}
.grouplist-img{
	width: 172px;
	margin-right: 22px;
}
.grouplist-img-img{
	width: 100%;
}

.grouplist-title{
	font-size: 36px;
	color: #333;
}
.grouplist-desc{
	color:#666;
	font-size: 31px;
	 
}
.grouplist-stats{
	line-height: 66px;
	color: #666;
	display: flex;
	flex-direction: row;
}
 
/**forumlist***/
.flist {
	background-color: #eee;
}

.flist-item {
    padding: 11px;
    background-color: #fff;
    margin-bottom: 11px;
    display: block;
    text-decoration: none;
    color: #444;
}

.flist-user {
    display: flex;
	flex-direction: row;
    margin-bottom: 11px;
}

.flist-user-head {
    width: 88px;
    height: 88px;
    margin-right: 22px;
    border-radius: 50%;
}

.flist-nick {
    font-size: 31px;
    color: #333;
	margin-bottom: 11px;
}

.flist-time {
    font-size: 27px;
    color: #666;
    
}

.flist-flex-1 {
    flex: 1;
}

.flist-title {
    color: #777;
    font-size: 31px;
    margin-bottom: 22px;
}

.flist-vd {
    position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 11px;
}

.flist-vd-bg {
    max-width: 100%;
 
}

.flist-vd-play {
     
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width:132px;
    height: 132px;
    margin-left: -66px;
    margin-top: -66px;
}

.flist-imgs {}

.flis-imgs-img {
    width: 132px;
    margin-right: 22px;
}

.flist-ft {
    text-align: center;
    display: flex;
	flex-direction: row;
    padding: 13px 13px;
    font-size: 31px;
	justify-content:center;
}

.flist-ft-love:before,
.flist-ft-cm:before,
.flist-ft-view:before {
    font-family: "iconfont" !important;
    display: inline-flex;
    margin-right: 4px;
    font-size: 31px;
}

.flist-ft-love:before {
    content: "\e669";
}

.flist-ft-cm:before {
    content: "\e667";
}

.flist-ft-view:before {
    content: "\e80a";
}

.flist-ft-love,
.flist-ft-cm {
    flex: 1;
	display: flex;
	flex-direction: row;
    border-right: 2px solid #eee;
	align-items: center;
	justify-content:center;
}

.flist-ft-view {
    flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
}

.flist-tools{
	display:flex;
	height: 80px;
	line-height: 80px;
}
.flist-tools a{
	flex: 1;
	color: #0062CC;
	text-align: center;
}