<template>
	<div v-if="pageLoad">
	<div class="header">
		<div class="header-back"></div>
		<div class="header-title">个人中心</div>
	</div>
	<div class="header-row"></div>
	<div class="main-body">
		<div class="uhead" v-if="pageLoad">

			<image gourl="index.html?m=user&a=user_head" class="uhead-img" src="img/100x100.jpg"></image>

			<div class="uhead-box">
				<div class="uhead-nick">老雷</div>
				<div class="uhead-rnum flex">
					余额 ￥
					<text class="f14 cl-money mgl-5">10</text>
				</div>
				<div class="uhead-rnum flex">
					金币
					<text class="cl-money mgl-5 mgr-5">10</text>
					 
					积分
					<text class="cl-money mgl-5">10</text>

				</div>
			</div>
		</div>
		<div class="order-box">
			<div class="order-box-hd">
				我的订单
				<div class="flex-1"></div>
				<div gourl="index.html?m=order&a=my" class="order-box-hd-more">全部订单
					<text class="iconfont icon-right flex-center"></text>
				</div>
			</div>
			<div class="order-box-status flex">
				<div gourl="index.html?m=order&a=my" class="order-box-item">
					<text class="iconfont icon-moneybag"></text> 待付款</div>
				<div gourl="index.html?m=order&a=my"  class="order-box-item">
					<text class="iconfont icon-deliver"></text> 待收货</div>
				<div gourl="index.html?m=order&a=my"  class="order-box-item">
					<text class="iconfont icon-comment"></text> 待评价</div>
			</div>
		</div>

		<div class="row-box mgb-5">
			
			<navigator url="index.html?m=notice&a=my" class="row-item"> 
				<div   class="row-item-icon icon-text"></div>
				<div class="row-item-title">我的消息</div>
			</navigator>
			<navigator url="index.html?m=coupon&a=my" class="row-item">
				<div class="row-item-icon icon-text"></div>
				<div class="row-item-title">我的优惠券</div>
			</navigator>
			
			<navigator url="index.html?m=forum&a=my" class="row-item">
				<div class="row-item-icon icon-text"></div>
				<div class="row-item-title">我的帖子</div>
			</navigator>
			<navigator url="index.html?m=comment&a=my" class="row-item">
				<div class="row-item-icon icon-comment"></div>
				<div class="flex-1">我的评论</div>
			</navigator>
		</div>	
		<div class="row-box mgb-5">	
			<navigator url="index.html?m=fav&a=my" class="row-item">
				<div class="row-item-icon icon-favor"></div>
				<div class="flex-1">我的收藏</div>
			</navigator>
			
			<navigator url="index.html?m=pay_log&a=my" class="row-item">
				<div class="row-item-icon icon-text"></div>
				<div class="flex-1">消费记录</div>
			</navigator>
			<navigator url="index.html?m=recharge&a=my" class="row-item">
				<div class="row-item-icon icon-text"></div>
				<div class="flex-1">充值记录</div>
			</navigator>
		</div>
		
		<div class="row-box  mgb-5">
			<navigator class="row-item" url="index.html?m=user&a=info">
				<div class="row-item-icon icon-people"></div> 
				<div class="flex-1">老雷</div>
			</navigator>
			<navigator class="row-item" url="index.html?m=user&a=password">
				<div class="row-item-icon icon-password"></div>
				<div class="flex-1">修改密码</div>
			</navigator>
			<navigator url="index.html?m=user_address&a=my" class="row-item">
				<div class="row-item-icon icon-text"></div>
				<div class="flex-1">收货地址</div>
			</navigator> 
		</div>	

	</div>
	<div class="btn-row-submit btn-danger">注销</div>
	</div> 
</template>
<style>
	.uhead {
		display: flex;
		flex-direction: row;
		padding: 10px;
		background-color: #fff;
		margin-bottom: 5px;
	}

	.uhead-img {
		width: 80px;
		height: 80px;
		margin-right: 10px;
		display: block;
		border-radius: 50%;
	}

	.uhead-box {
		flex: 1;
	}

	.uhead-nick {
		margin-bottom: 5px;
		font-size: 16px;
	}

	.uhead-rnum {
		color: #999;
		margin-bottom: 10px;
		line-height: 14px;
		display: flex;
		font-size: 14px;
	}
	/***订单**/
	.order-box {
		background-color: #fff;
		padding: 10px;
		margin-bottom: 10px;
		
	}

	.order-box-hd {
		display: flex;
		flex-direction: row;
		line-height: 36px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
		font-size: 16px;
		color: #646464;
	}
	.order-box-hd-more{
		color: #646464;
		margin-right: 5px;
		font-size: 16px;
		display: flex;
		flex-direction: row;
	}
	
	.order-box-icon:before{
		color: #646464;
	}
	.order-box-status {
		display: flex;
		flex-direction: row;
	}

	.order-box-item {
		flex: 1;
		text-align: center;
		font-size: 14px;
		color: #666;
	}

	.order-box-item .iconfont {
		display: block;
		color: #666;
		font-size:22px;
	}
</style>
