/**头部风格***/
.header,.header-show{
 background-color: #0379ce;	
 box-shadow: none;  
}
.header-back:after,.header-title{color: #fff;}

.header-search{
	background-color: rgba(0,0,0,.1);
	border: 0 !important;
	color: #fff;
}
.header-search-icon{
	color: #fff;
}
.header-search-btn{
	background-color: #eee;
    color: #fff;
}
.header-right{
	color: #fff;
}
.header-right-btn{
	color: #fff;
	border-color: #fff;
}
/*****底部风格****/
.footer{
	background-color: #0379ce;
}
.footer-item,.footer-item:before{
	color: #e0e0e0;
}
.footer-add:after{
	background-color: #e45538;
	color: #fff;
}
.footer-active, .footer-active:before {
    background-color: #0788e4;
}
/*********/
.btn-primary,.btn-row-submit,.input-flex-btn{
	background-color: #0379ce;
	border-color:#0379ce;
}
.cart-list-btn{
	background-color:#0379ce !important;
}

.btn,.btn-buy{
	background-color: #333;
}