html {
	font-size: 40px;
}

html,
body {
	background-color: #fff;
}

.header-bgBox {
	position: relative;
}

.banner-bg {
	width: 100%;
}

body {
	 
	background-size: 100%;

	height: 568px;

}

.header-fixtop {
	top: 4px;

}
.header-logo{
	border-radius: 50%;
}
.header-fixtop-icon:before {
	margin-right: 5px;
}

.header-search {
	box-sizing: border-box;
	height: 26px;
	line-height: 26px;
	border-radius: 20px;
	background-color: #fff;
	margin-left: 2px;
	color: #bbb;
}
.header-search-icon{
	left: 10px;
	color: #ccc;
}
input::-webkit-input-placeholder {
	color: #ccc;
	font-size: 12px;
}
.swiper {
	
	overflow-x: auto;
	position: absolute;
	top: 50px;
	left: 10px;
	right: 10px;
	bottom: 0.35rem;
	border-radius: 20px;
}

swiper {
	height: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	width: 300%;
}

swiper-item {
	width: 100%;
	height: auto;
	display: flex;
}

.navBox {
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 8px 6px;
	margin: 5px 7px 5px 7px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

/*m-item*/
.m-navPic-item {
	margin-bottom: 7px;
}

.m-navPic {
	background: none;
	margin-bottom: 6px;
}
.m-navPic-img{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	line-height: 1;
	margin-bottom: 1px;
}
.m-navPic-icon {
	margin-bottom: 2px;
}

.m-navPic-title {
	color: #999;
	font-size: 12px;
}

.m-navPic-hr {
	margin: 0px 8px;
	height: 1px;
	background-color: #efefef;
}

.navBottom {
	padding: 15px 12px 0px 12px;
	display: flex;
	flex-direction: row;
}

.navBottom-left {
	margin-right: 10px;
}

.navBootom-c1 {
	color: #ed5879;
	line-height: 1.4;
	font-weight: 600;
}

.navBootom-middle {
	margin-right: 7px;
}

.navBootom-line {
	height: 26px;
	width: 1px;
	background-color: #fbc0ca;
	top: 5px;
	position: relative;
}

.navBootom-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3px;
}

.navBottom-btn {
	display: inline-block;
	border: 1px solid #ed5879;
    color: #ed5879;
    font-size: 14px;
    line-height: 18px;
   width: 50px;
   text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: -16px;
    transform: scale(0.6);
    position: relative;
    left: -10px;
    top: -4px;
}

.navBootom-right {
	flex: 1;
}

.navBootom-right-title {
	flex: 1;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 100px;
	line-height: 1;
	position: relative;
	top: -4px;

}
/*md-abc*/
.md-abc {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 7px;
}

.md-abc-a,
.md-abc-bc {
	flex: 1;
}

.md-abc-a {}

.md-abc-r {
	padding-left: 1px;
}

.md-abc-bc {
	direction: flex;
	flex-direction: column;
	justify-content: space-between;
}

.md-abc-img {
	width: 100%;
	float: left;
}

.md-abc-b {
	align-self: flex-start;
}

.md-abc-c {
	align-self: flex-end;
}
/**主界面**/
.main-body{
	padding: 10px;
}	
/*产品推荐*/
.hd-a {
	display: flex;
	flex-direction: row;
	
	align-items: flex-end;
}

.hd-a-h3 {
	font-size: 14px;
	color: #6d6d6d;
	margin-right: 5px;
	font-family: serif;
	font-weight: 600;
}

.hd-a-h6 {
	color: #9ba1ad;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 600;
}

.aBox {
	border: 1px solid #ddd;
	border-radius: 10px;
	height: 81px;
	margin: 7px 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.aBox-line {
	width: 1px;
	height: 81px;
	background-color: #ddd;
}

.aBox-item {
	display: flex;
	flex-direction: row;
	flex: 1;
	position: relative;
}

.aBox-main {
	flex: 1;
 
	padding: 17px 7px;
	 
}

.aBox-title {
	color: #666;
	font-size: 14px;
	line-height: 1;

}

.aBox-desc {
	font-size: 12px;
	color: #999;
	margin-bottom: 2px;
	height:18px;
	overflow:hidden;
}

.aBox-btn {
	border-radius: 20px;
	background-color: #ff4a4a;
	color: #efefef;
	font-size: 14px;
	width: 70px;
	text-align: center;
	transform: scale(0.6);
	margin-left: -12px;
	padding: 0px 5px 2px 5px;
	top: -5px;
	position: relative;
}

.aBox-text {
	color: #ff1226;
	font-size: 14px;
	position: absolute;
	top: 44px;
	transform: scale(0.6);
	font-weight: 600;
	left: -6px;
}

.aBox-img {
	width: 42px;
	height: 42px;
	position: relative;
	top: 20px;
	margin-right: 10px;
}
/**hd-b**/
.hd-b{
	display: flex;
	flex-direction: row;
	
	align-items: center;
	margin-bottom: 5px;
}
.hd-b-line{
	height: 27px;
	width: 12px;
	background-color: #f60;
	background: url(../img/bg-line.png) no-repeat;
}
.hd-b-title{
	font-size: 16px;
	font-weight: 700;
	font-family: serif;
	flex: 1;
}
.hd-b-more{
	color: #ddd;
	font-size: 14px;
	width: 30px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
	 
}
.bBox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 5px; 
}
.bBox-item{
	width:50%;
	padding: 3px;
	box-sizing: border-box;
}
.bBox-item-img{
	width: 100%;
	border-radius: 10px;
}
/**产品列表**/
.mtlist-title{
	color:#828282;
}
 .mtlist-item-money_num{
	 color:#828282;
 }
/***footer***/
.footer {
	background-color: #fff;
}

.footer-item,
.footer-item:before {
	color: #333;
}

.footer-active,
.footer-active:before {
	color: #f55977;
}
