/*********购物车************/

.cart-list {
	padding-top: 10px;
	background-color: #fff;
}

.cart-list-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
}

.cart-list-item:after {
	clear: both;
	visibility: hidden;
	content: ".";
	height: 0px;
}

.cart-list-title {
	margin-bottom: 5px;
	display: block;
}
.cart-list-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5px;
}
.cart-list-imgbox {
 
	width: 60px;
	margin-right: 10px;
}

.cart-list-img {
	width: 100%;
}

 
.cart-list-price{
	color: #f60;
	font-size: 18px;
}
 
 

.cart-list-delete {
	color: red;
	line-height: 30px;
}

 

.cart-list-ks-title {
	color: red;
	font-size: 12px;
}

.cart-list-stat{
	padding: 10px 10px 60px 10px;
	color: #646464;
	display: flex;
	flex-direction: row;
	background-color: #fff;
} 
.cart-list-stat-num{
	color: #f60;
}
.cart-list-btn{
	line-height: 36px;
	padding: 0px 20px;
	background-color: #007AFF;
	color: #fff;
	font-size: 14px;
	display: inline-flex;
	border-radius: 20px;
	cursor: pointer;
}
