.hd-h1{
	padding-left: 0px;
}
.row-box{
	margin-bottom: 10px;
}
.cart-stat{
	line-height: 30px;
	font-size: 14px;
	color: #444;
}
.paylist{
	margin-bottom: 10px;
}
/*********购物车************/

.cart-list {
	padding-top: 10px;
	background-color: #fff;
}

.cart-list .item {
	margin-bottom: 10px;
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.cart-list .item:after {
	clear: both;
	visibility: hidden;
	content: ".";
	height: 0px;
}

.cart-list .item .title {
	height: 40px;
	line-height: 20px;
	display: block;
}

.cart-list .item .img {
 
	width: 60px;
	margin-right: 10px;
}

.cart-list .item .img img {
	width: 100%;
}

.cart-list .item .flex-1 {
	flex: 1;
}

 
.cart-list .item .tool {
	padding: 10px;
	font-size: 0.9em;
}

.cart-list .item .cart-delete {
	color: red;
	line-height: 30px;
	float: right;
}

.cart-list .item .tool .iconfont {
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}

.cart-list .item .ks-title {
	color: red;
	font-size: 12px;
}
 


.confirm-buy-btn{
  width: 200px;
  margin: 0 auto;
  background-color: #336633;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;

}